.settings {
    width: 100%;
}

.input-group {
    padding: 10px;
}

.btn {
    padding: 10px;
    background: #efefef;
    border: 1px solid #333;;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background: #ccc;
}

.row {
    display: flex;
    width: 100%;
}

.cell {
    height: 10px;
    flex: 1;
}

.cell.active {
    background: #3C8D0D;
}

.cell.inactive {
    background: #d42426;
}